.git
.gitignore
.vscode
.direnv
.data
node_modules
dist
tmp
*.log
.env
.envrc
README.md
CONTRIBUTING.md
LICENSE
Taskfile.yml
**/node_modules
**/dist
**/bin
**/obj
backend/exchange
backend/fetcher
backend/sqlc
bot/node_modules
frontend/node_modules
frontend/dist
