services:
  valkey:
    image: valkey/valkey:8-alpine
    container_name: ticker_rush_valkey
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/data
    restart: always

volumes:
  valkey_data: