.dashboardLayout {
  margin-inline: auto;
  display: grid;
  width: 100%;
  max-width: 1800px;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-lg);
  padding: var(--space-md);
  padding-bottom: var(--space-lg);
}

@media (min-width: 1024px) {
  .dashboardLayout {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding: var(--space-lg);
  }
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

@media (min-width: 1024px) {
  .mainSection {
    grid-column: span 9;
  }
}

.joinBanner {
  animation: slideInFromTop 0.5s ease-out;
}

.chartCardWrapper {
  position: relative;
  height: 500px;
  overflow: hidden;
  padding: var(--space-xxs);

  @media (max-width: 640px) {
    height: 300px;
  }
}

.mobileTradePanel {
  display: block;
}

@media (min-width: 1024px) {
  .mobileTradePanel {
    display: none;
  }
}

.desktopTradePanel {
  display: none;
}

@media (min-width: 1024px) {
  .desktopTradePanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-md);
    grid-column: span 3;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
