.checkbox {
  accent-color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--border);
  border-radius: var(--space-xxs);
  color: var(--primary);
  cursor: pointer;
  height: 1.25rem;
  transition: var(--transition-normal);
  width: 1.25rem;

  &:focus {
    outline: 2px solid color-mix(in srgb, var(--primary) 50%, transparent);
    outline-offset: 2px;
  }
}
