.errorMessage {
  border-radius: var(--radius);
  border: 1px solid color-mix(in srgb, var(--destructive) 20%, transparent);
  background-color: color-mix(in srgb, var(--destructive) 10%, transparent);
  font-weight: 500;
  color: var(--destructive);

  &[data-variant='sm'] {
    padding: 0.75rem;
    font-size: 0.875rem;
  }

  &[data-variant='xs'] {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
}
