.errorMessage {
  border-radius: var(--radius);
  border: 1px solid var(--destructive-border-subtle);
  background-color: var(--destructive-bg-subtle);
  font-weight: 500;
  color: var(--destructive);

  &[data-variant='sm'] {
    padding: var(--space-sm);
    font-size: var(--text-sm);
  }

  &[data-variant='xs'] {
    padding: var(--space-xs);
    font-size: var(--text-xs);
  }
}
