.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 1.5rem;
  }
}

.itemWrapper {
  min-width: 240px;
  scroll-snap-align: center;
}

@media (min-width: 640px) {
  .itemWrapper {
    min-width: 0;
  }
}
