.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .container {
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 1.5rem;
  }
}

.itemWrapper {
  width: 100%;
}
