.container {
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: repeat(3, 1fr);
}

@media (width >= 640px) {
  .container {
    gap: var(--space-md);
  }
}

@media (width >= 1024px) {
  .container {
    gap: var(--space-lg);
  }
}

.itemWrapper {
  width: 100%;
}
