.container {
  border-bottom: 1px solid var(--border);
  padding: var(--space-xl);

  @media (width <= 640px) {
    padding: var(--space-md);
  }
}

.ladderMetaRow {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  justify-content: space-between;
  margin-bottom: var(--space-xl);

  @media (width <= 640px) {
    gap: var(--space-md);
    margin-bottom: var(--space-md);
  }
}

@media (width >= 1024px) {
  .innerLayout {
    align-items: center;
    flex-direction: row;
  }
}
