.container {
  border-bottom: 1px solid var(--border);
  padding: var(--space-xl);

  @media (max-width: 640px) {
    padding: var(--space-md);
  }
}

.innerLayout {
  margin-bottom: var(--space-xl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-xl);

  @media (max-width: 640px) {
    margin-bottom: var(--space-md);
    gap: var(--space-md);
  }
}

@media (min-width: 1024px) {
  .innerLayout {
    flex-direction: row;
    align-items: center;
  }
}
