name: Proto Check

on:
  push:
    branches: [ main ]
    paths:
      - 'proto/**'
      - 'backend/db/**' # SQLC also runs in task generate
      - 'backend/internal/proto/**' # Monitor generated backend files
      - 'frontend/src/lib/proto/**' # Monitor generated frontend files
      - 'buf.yaml'
      - 'buf.gen.yaml'
      - 'Taskfile.yml'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/proto-check.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'proto/**'
      - 'backend/db/**'
      - 'backend/internal/proto/**'
      - 'frontend/src/lib/proto/**'
      - 'buf.yaml'
      - 'buf.gen.yaml'
      - 'Taskfile.yml'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/proto-check.yml'

jobs:
  check-proto:
    name: Check Generated Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Install Frontend Dependencies
        run: nix develop --command task frontend:deps

      - name: Generate Code
        run: nix develop --command task generate

      - name: Check for Changes
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "::error::Generated code is out of sync. Please run 'task generate' locally and commit the changes."
            git diff
            exit 1
          fi
